@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

:root {
    --color-yellow: #fbffa7;
    --color-light-blue: #b1c5ff;
    --color-deep-blue: #0000ff;
    --color-light-green: #b6ffc0;
    --color-orange: #ff764d;
    --color-purple: #d5b3ff;
    --color-white: #ffffff;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

::selection {
    background: blue;
    color: #fff;
    text-shadow: none;
}

.nav__padding {
    padding: .5rem 2rem;
}

.section__padding {
    padding: 3rem 6rem;

    @media screen and (max-width: 1020px) {
        padding: 1rem 2rem;
    }
}

.imagelayout__padding {
    margin: 3rem 0rem;

    @media screen and (max-width: 1020px) {
        padding: 1rem 0rem;
    }
}

.footer__padding {
    padding: 6rem 6rem;

    @media screen and (max-width: 1020px) {
        padding: 2rem 2rem;
    }
}